body{
    background-color: #262628;
    font-family: "adelphi-pe-variable",sans-serif;
    font-variation-settings: 'wght' 700, 'opsz' 12, 'slnt' 0;
    
}

/* Reset básico */
body, ul, li, a {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
  }
  
  /* Navbar */
  .navbar {
    display: flex;
    align-items: center;
    background-color: #69beb0;
    color: #fff;
    padding: 1rem 2rem;
    margin: 80px 0px 0px 16%;
    height: 45px;
    width: 65%;
    justify-content: space-between;
    border-radius: 50px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
  }

  .text-header{
    display: flex;
    color: #fff;
    padding: 25px;
  }
  
  .navbar-brand a {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    font-family: "ocr-b-std", monospace;
    font-weight: normal;

  }
  
  .navbar-links {
    display: flex;
    gap: 1.5rem;
  }
  
  .navbar-links a {
    color: #262628;
    font-size: 17px;
    transition: color 0.3s;
  }
  
  .navbar-links a:hover {
    color: #fff;
  }


.container-2{
    display: flex;
    justify-content: flex-end;
    width: 80%;
    height: auto;
    margin: 70px 0px 0px 0px;


}

.text-apresen{
    display: flex;
    color:#69beb0;
    padding: 0px 0px 0px 0px;
    
    
}
.text-about-1 h1{
    display: flex;
    font-size: 65px;
    padding: 155px 0px 0px 0px;

}

.about-me-text-1{
    display: flex;
    font-size: 20px;
    color: #fff;
    font-family: "ocr-b-std", monospace;
    font-weight: normal;
}
    .about-me-text-2{
    display: flex;
    font-size: 20px;
    padding: 0px 0px 30px 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fffcfe;
}
.imagem-perfil{
    display: flex;
    align-items: center;
    padding: 200px 150px 0px 0px;
}
    
.foto-perfil-jessi{
    display: flex;
    width:300px; /* Ajuste o tamanho conforme necessário */
    height:300px; /* Certifique-se de que a imagem seja quadrada */
    border-radius: 50%; /* Isso faz a imagem ficar redonda */
    box-shadow: 0 2px 25px #69beb0; /* Sombra suave */
    

}
.box-collection{
    display: flex;
    text-align: center;
    height: auto;
    width: 100%;
    gap: 13%;

}
.box-1{
    display: flex;
    border-radius: 50px;
    width: 20%;
    height: 40px;
    background-color: #302e2f;
    align-items: center;
    box-shadow: 0 1px 6px #181718; /* Sombra suave */
}
.box-2{
    display: flex;
    border-radius: 50px;
    width: 20%;
    height: 40px;
    background-color: #302e2f;
    align-items: center;
    box-shadow: 0 1px 6px #181718; 
}
.box-3{
    display: flex;
    border-radius: 50px;
    width: 20%;
    height: 40px;
    background-color: #302e2f;
    align-items: center;
    box-shadow: 0 1px 6px #181718; 
    
}
.text-box-1{
    display: flex;
    text-align: center;
    padding: 0px 0px 0px 45px;
}
.text-box-2{
    display: flex;
    text-align: center;
    padding: 0px 0px 0px 35px;
}
.text-box-3{
    display: flex;
    text-align: center;
    padding: 0px 0px 0px 35px;
}
