body{
    background-color: #262628;
    font-family: "adelphi-pe-variable",sans-serif;
    font-variation-settings: 'wght' 700, 'opsz' 12, 'slnt' 0;
    
}

/* Reset básico */
body, ul, li, a {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
  }
  
  /* Navbar */
  .navbar {
    display: flex;
    align-items: center;
    background-color: #69beb0;
    padding: 1rem 2rem;
    margin: 80px 0px 0px 16%;
    height: 45px;
    width: 65%;
    justify-content: space-between;
    border-radius: 50px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
  }

  .text-header{
    display: flex;
    color: #fff;
    padding: 25px;
  }
  
  .navbar-brand a {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    font-family: "ocr-b-std", monospace;
    font-weight: normal;

  }
  
  .navbar-links {
    display: flex;
    gap: 1.5rem;
  }
  
  .navbar-links a {
    color: #262628;
    font-size: 17px;
    transition: color 0.3s;
  }
  
  .navbar-links a:hover {
    color: #fff;
  }

  #servicos {
    display: flex;
    padding: 250px 30px 0px 50px;
    background-color: #262628;
    gap: 50px;
    justify-content: center;
  }
  
  #servicos h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 30px;
    color: #333;
  }
  
  .servico {
    margin: 20px 0;
    padding: 20px;
    width: 400px;
    height: 300px;
    background-color: #333;
    border: 1px solid #333;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  .servico h3 {
    font-size: 1.8rem;
    color:#ffffff;
    margin-bottom: 10px;
  }
  
  .servico p {
    font-size: 1rem;
    color: #69beb0;
    line-height: 1.6;
  }
  
  .servico ul {
    list-style: none;
    padding: 0;
  }
  
  .servico ul li {
    font-size: 1rem;
    color: #ffffff;
    padding: 5px 0;
    position: relative;
  }
  
  .servico ul li::before {
    content: "✔";
    color: #69beb0;
    margin-right: 8px;
  }

  .servico:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Sombra mais forte */
    background-color: #3a3a3a; /* Mudança de cor de fundo */
    cursor: pointer;

  }