/* Reset básico */
body, ul, li, a {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/* Estilo do corpo */
body {
    background-color: #ededed;
    font-family: "Roboto", sans-serif;
}

/* Navbar */
.navbar {
    display: flex;
    align-items: center;
    background-color: #484f7a;
    color: #ededed;
    padding: 1rem 2rem;
    margin: 80px 0px 0px 16%;
    height: 45px;
    width: 65%;
    justify-content: space-between;
    border-radius: 50px;
    border-color: #000000; /* Cor da borda */
    border-width: 2px; /* Largura da borda */
    border-style: solid; /* Estilo da borda */
}

.text-header {
    display: flex;
    color: #ededed;
    padding: 25px;
}

.navbar-brand a {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    font-family: "ocr-b-std", monospace;
    font-weight: normal;
}

.navbar-links {
    display: flex;
    gap: 1.5rem;
}

.navbar-links a {
    color: #ededed;
    font-size: 17px;
    transition: color 0.3s;
    font-weight: bold;
}

.navbar-links a:hover {
    color: #bbb9b9;
}

/* Seção de Projetos */
.projetos {
    padding: 50px;
    text-align: center;
}


.projetos-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.descricao {
    text-align: left;
}


.descricao p {
    font-size: 16px;
    color: #484f7a;
}

/* Estilo das colunas */
.colunas-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 10% 0px 0px 0px;
}

.coluna {
    background-color: #e2e2e2;
    color: #000000;
    padding: 20px;
    height: 250px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: calc(15% - 20px); /* Quatro colunas com espaçamento */
    text-align: center;
    border-color: #000000; /* Cor da borda */
    border-width: 2px; /* Largura da borda */
    border-style: solid; /* Estilo da borda */
}


.coluna h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.coluna p {
    font-size: 16px;
    color: #484f7a;
    font-weight: bold;

    
}

.coluna img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

.coluna:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Sombra mais forte */
    background-color: #b6b5b5; /* Mudança de cor de fundo */
    cursor: pointer;
}
/* Animação moderna */
@keyframes hoverEffect {
    0% {
        transform: translateY(0);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    100% {
        transform: translateY(-10px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    }
}

.coluna:hover {
    animation: hoverEffect 0.3s forwards;
}